body{
  background-image: url("./vecteezy_city-high-voltage-power-plant_15048070_992.jpg");
  background-size: 2000px 1000px;
  background-repeat: repeat;
  text-align: center;
 
}
.new{
    display: none;
}
.new1{
  display: none;
}
.new5{
  display: none;
}
.new2{
  display: none;
}
.new3{
  display: none;
}
.new4{
  display: none;
}
.final{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 15px 5px 5px 5px;
  border: 10px solid black;
}
h1 {
  color: #DFFA14;
  text-shadow: 5px 5px 7px red;
}
.result{
  margin: 50px 50px ;
  padding: 15px 5px 5px 5px;
  border: 10px solid black;
  background-color: #87FAFA;
}
.final{
  font-weight: 500;
  font-style: italic;
  background-color: #87FAFA;
}

p{
  font-weight: 900;
  font-size: large;
}
