body{

  text-align: center;
 
}
.new{
    display: none;
}
.new1{
  display: none;
}
.new5{
  display: none;
}
.new2{
  display: none;
}
.new3{
  display: none;
}
.new4{
  display: none;
}
